<hr>
<ul >
    <li routerLink="/search" ><a>Search</a></li>
    <li routerLink="/linkages" ><a>Link</a></li>
    <li *ngIf="authorization==='Admin'" routerLink="/admin" ><a>Admin Rights</a></li>
</ul>
<br />
<router-outlet></router-outlet>
