
<fieldset title="Linkages">
  <legend >Admin Rights</legend>
    <br>
    
      <hr color="rgb(71, 71, 71)">
        <h2 class="linkage">Add Linkage Properties</h2>
      <hr color="rgb(71, 71, 71)">
      <table class="linkage" >
      <tr>
        <td style="width: 40%"><h3 class="linkage">Program Name: </h3></td>
        <td class="linkage">
          <input [(ngModel)]="program" name="pid1" class="linkage">
        </td>
        <td class="linkage">
          <button (click)="addProgram()" [disabled]='program.length<2'>Add</button>
        </td>
      </tr>
      <tr class="linkage">
        <td style="width: 40%"><h3 class="linkage">Key Type:</h3></td>
        <td class="linkage">
          <input [(ngModel)]="keyType" name="kt1" class="linkage">
        </td>
        <td class="linkage">
          <button (click)="addKeyType()" [disabled]='keyType.length<2'>Add</button>
        </td>
      </tr>
      <tr class="linkage">
        <td style="width: 40%"><h3 class="linkage">Linkage Type: </h3></td>
        <td class="linkage">
          <input [(ngModel)]="linkageType" name="type">
        </td>
        <td class="linkage">
          <button (click)="addLinkageType()" [disabled]='linkageType.length<2'>Add</button>
        </td>
      </tr>
    </table>
</fieldset>
<router-outlet></router-outlet>